build/
SilenceEngine.ipr
SilenceEngine.iws
SilenceEngine.iml
silenceengine/build/
silenceengine/silenceengine.iml
backend-lwjgl/build/
backend-lwjgl/backend-lwjgl.iml
backend-gwt/build/
backend-gwt/backend-gwt.iml
tests/build/
tests/tests.iml
tests-lwjgl/build/
tests-lwjgl/tests-lwjgl.iml
tests-gwt/build/
tests-gwt/tests-gwt.iml
tests-gwt/war/
.idea/
out/
.gradle/